<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    <div class="grid grid-2col">

        <div>
            <label for="name">Name</label>
            <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            <br/>

            <label for="system.model">Ship Model</label>
            <select name="system.model">
                {{selectOptions ship_models selected=system.model localize=true}}
            </select>
            <br/>
            <label for="system.faction">Faction</label>
            <select name="system.faction">
                {{selectOptions factions selected=system.faction localize=true}}
            </select>
            <br/>

            <div class="grid grid-2col" style="font-size: 1.2em;text-align: right">
                <div>
                    <label for="system.pilotskill">{{localize "XWING.stats.pilotskill"}}</label>
                    <input name="system.pilotskill" value="{{actor.system.pilotskill}}" type="text" data-dtype="Number" maxlength="2" style="width: 25%"/><br/>
                    <label for="system.attack" style="color:red">{{localize "XWING.stats.attack"}}</label>
                    <input name="system.attack" value="{{actor.system.attack}}" type="text" data-dtype="Number" maxlength="2" style="width: 25%"/><br/>
                    <label for="system.agility" style="color:green">{{localize "XWING.stats.agility"}}</label>
                    <input name="system.agility" value="{{actor.system.agility}}" type="text" data-dtype="Number" maxlength="2" style="width: 25%"/><br/>
                </div>
                <div>
                    <label for="system.points">{{localize "XWING.stats.points"}}</label>
                    <input name="system.points" value="{{actor.system.points}}" type="text" data-dtype="Number" maxlength="2" style="width: 25%"/><br/>
                    <label for="system.hull.max" style="color:yellow">{{localize "XWING.stats.hull"}}</label>
                    <input name="system.hull.max" value="{{actor.system.hull.max}}" type="text" data-dtype="Number" maxlength="2" style="width: 25%"/><br/>
                    <label for="system.shields.max" style="color:skyblue">{{localize "XWING.stats.shields"}}</label>
                    <input name="system.shields.max" value="{{actor.system.shields.max}}" type="text" data-dtype="Number" maxlength="2" style="width: 25%"/><br/>
                </div>
            </div>
            <div class="assign-maneuvers" style="border: 1px solid;text-align: center; font-size: 1.1em">Assign Maneuvers</div>


            <div style="font-size: 4em;text-align: center">
                {{#each action_choices as |action|}}
                    <span 
                        class="action-selection {{#if (in action ../system.actions)}}g-border{{else}}b{{/if}}" 
                        style="width:30%;display: inline-block;" 
                        data-action="{{action}}">
                            {{{lookup ../icons.actions action}}}
                    </span>
                {{/each}}
            </div>
        </div>
        <div>
            <div>
                <select class="upgrade-type">
                    {{selectOptions upgrade_choices localize=true}}
                </select>
                <span class="add-upgrade" style="font-size:1.2em"> +</span><br/>
                <hr/>
                {{#each system.upgrade_slots as |upgrade|}}
                    <div class="del-upgrade" data-upgrade="{{upgrade}}">
                        {{localize (concat "XWING.upgrades." upgrade)}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>


</form>