<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    <div class="grid grid-2col">
        <div>
            <img class="profile-img" style="flex: none;" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="120" width="300"/>
            <div class="flexrow" style="flex: none;">
                <div style="flex:none;font-size: 30px;width: 35px; text-align: center;">{{system.pilotskill}}</div>
                <div style="text-align: center">
                    <span style="font-size: 1.2em;">{{actor.name}}</span><br/>
                    {{model_label}}
                </div>
                <div style="flex:none;font-size: 30px;width: 35px; text-align: center;">{{{lookup icons.factions system.faction}}}</div>
            </div>
        <!-- <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        <h3 class="charname">{{data.model}}</h3> -->

            <div class="grid grid-3col" style="font-size: 35px; text-align: center;">
                <div class="flex-center">
                    <span style="color:red">{{{icons.attack}}} {{system.attack}}</span><br/>
                    <span style="color:green">{{{icons.agility}}} {{system.agility}}</span><br/>
                    <span style="color:yellow">{{{icons.hull}}} {{system.hull.max}}</span><br/>
                    <span style="color:skyblue">{{{icons.shields}}} {{system.shields.max}}</span><br/>
                </div>
                <div class="flex-center">
                    {{#if (gt tokens.stress 0)}}
                        <span style="color:red">{{{icons.tokens.stress}}}{{#if (gt tokens.stress 1)}} {{tokens.stress}}{{/if}}</span><br/>
                    {{/if}}
                    {{#if (gt tokens.focus 0)}}
                        <span class="spend-focus" style="color:green">{{{icons.tokens.focus}}}{{#if (gt tokens.focus 1)}} {{tokens.focus}}{{/if}}</span><br/>
                    {{/if}}
                    {{#if (gt tokens.evade 0)}}
                        <span class="spend-evade" style="color:green">{{{icons.tokens.evade}}}{{#if (gt tokens.evade 1)}} {{tokens.evade}}{{/if}}</span><br/>
                    {{/if}}
                    
                </div>
                <div class="flex-center">
                    {{#each system.actions as |action|}}
                        <span class="action-{{action}}">{{{lookup ../icons.actions action}}}</span><br/>
                    {{/each}}
                </div>
            </div>
            <div class="flexrow" style="flex: none;">
                <div style="text-align: center;">Ship: {{system.points}}; Upgrades: {{upgradePoints}}; Total: {{totalPoints}}</div>
            </div>
        </div>
        
        
        <div>
            {{!-- Sheet Tab Navigation --}}
            <nav class="sheet-tabs tabs" data-group="primary">
                {{!-- Default tab is specified in actor-sheet.mjs --}}
                <a class="item" data-tab="items">Upgrades</a>
                <a class="item" data-tab="maneuvers">Maneuvers</a>
                <a class="item" data-tab="effects">Effects</a>
            </nav>
            
            <section class="sheet-body" style="height: 90%">
                <div class="tab items" data-group="primary" data-tab="items">
                    {{> "systems/xwing/templates/actor/parts/actor-upgrades.html"}}
                </div>
                <div class="tab" data-group="primary" data-tab="maneuvers">
                    {{> "systems/xwing/templates/maneuvers.html"}}
                </div>

                {{!-- Active Effects Tab --}}
                <div class="tab effects flexcol" data-group="primary" data-tab="effects">
                {{> "systems/xwing/templates/actor/parts/actor-effects.html"}}
                </div>
            </section>
        </div>

    </div>
<!--
<div class="flexrow">
        <span class="flexshrink" style="font-family: XWing;font-style: normal;font-size: 40px;color:red">%</span>
        <div class="flexcol">{{data.attack}}</div>
    </div>


<span style="font-family: XWing;font-style: normal;font-size: 40px;color:green">^</span>{{data.agility}}
<span style="font-family: XWing;font-style: normal;font-size: 40px;color:yellow">&</span>{{data.hull.max}}
<span style="font-family: XWing;font-style: normal;font-size: 40px;color:skyblue">*</span>{{data.shields.max}}
-->
    
</form>