<div class="grid-2col">
<div><label for="left">Left</label><input type="radio" id="left" name="lr" value="left"></div>
<div><label for="right">Right</label><input type="radio" id="right" name="lr" value="right"></div>
</div>

<div class="grid-3col">
<div><label for="slide">Back</label></div>
<div><input type="range" height="10px" id="slide" name="slide" min="-1" max="1" step="0.1"></div>
<div><label for="slide">Forward</label></div>
</div>

<table><tr><td class="execute" style="border: black;border-width: 0.2em;">Barrel Roll</td></tr></table>