<table style="font-size: 1.3em; background-color: gray">
    
    {{#each speeds as |speed|}}
        <tr>
        {{#each ../columns as |col|}}
            {{#if (lookup ../../show (concat speed col))}}
                <td class="custom-clickable-maneuver {{#if (eq ../../preselect (concat speed col))}}select-maneuver{{/if}} {{lookup ../../show (concat speed col)}}" 
                    data-maneuver="{{lookup ../../show (concat speed col)}}{{speed}}{{col}}">
                    {{{renderManeuver (concat speed col)}}}
                </td>
            {{else}}
                <td></td>
            {{/if}}
        {{/each}}
        </tr>
    {{/each}}
</table>
{{#unless (eq action_description "view")}}
<table><tr>
    <td class="execute" style="border: black;border-width: 0.2em;">{{action_description}}</td>
</tr></table>
{{/unless}}